#intro {
    position: relative;
}
#intro p {
    font-size: 30px;
    margin-top: 50px;
}
#intro .badge-container {
    position: absolute;
    left: 0;
    top: -37px;
    display: block;
    width: 100%;
    text-align: center;
}
#intro .badge-container .badge {
    -webkit-box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
    box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
    background-color: #ffc64c;
    width: auto;
    height: 70px;
    transform: skewX(10deg);
    margin-right: -6px;
}
#intro .badge-container .badge-white {
    -webkit-box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
    box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    color: #fff!important;

    display: inline-block;
    padding: .25em 1.4em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;

    background-color: white;
    width: auto;
    height: 70px;
    transform: skewX(10deg);
}
#intro .badge-container .badge h2 {
    transform: skewX(-10deg) translateY(25%);
    font-size: .75rem;
    font-weight: 600;
    color: #3a4555;
    padding: 6px 16px;
}
#intro .badge-container .badge-white img {
    width: auto;
    transform: skewX(-10deg);
    font-size: .75rem;
    font-weight: 600;
    color: #3a4555;
    padding: 6px;
    height: 58px;
    width: 58px;
    border-radius: 50%;
}
#intro .badge-container .badge-white .checked {
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: #2699fb;
    border-radius: 50%;
    top: 18px;
    left: 50%;
    transform: translateX(-70%) skewX(-10deg);
}
#intro .badge-container .badge-white .relative {
    position:relative
}
.navbar .checked {
    margin-left: 8px;
}
.profile-info h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}
.badge-dropdown-content {
    display: none
}
.dropdown-badge .arrow-left, .dropdown-badge .arrow-right {
    display: none
}
@media (max-width: 768px) {
    .profile-info {
        display: none
    }
    .navbar .checked {
        display: none
    }
    #intro .badge-container {
        position: unset;
        margin-top: -46px;
        margin-bottom: 20px;
    }
    #intro .badge-container .badge-white {
        display: none;
    }
    #intro .badge-container .badge {
        transform: skewX(0deg);
        height: 60px;
        width: 290px;
        border-radius: 5px;
    }
    #intro .badge-container .badge h2 {
        transform: skewX(0deg);
        padding: 12px 16px;
    }

    #intro p {
        margin-top: 0;
        font-size: 1.5rem;
    }

    /* Dropdown Start */
    .dropdown-badge .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: gray;
        font-family: inherit;
        margin: 0;
    }

    .badge-dropdown-content {
        display: none;
        position: unset;
        background-color: #ffffff;
        -webkit-box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
        box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
        width: 280px;
        padding-bottom: 10px;
    }

    .badge-dropdown-content span {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-badge .arrow-left, .dropdown-badge .arrow-right {
        display: block;
        position: absolute;
        top: 15px;
        left: 40px;
        color: #3a4555;
        padding: 5px;
        border-radius: 50%;
        font-size: 16px;
    }
    .dropdown-badge .arrow-right {
        right: -147px;
    }
    #intro .row .text-center {
        z-index: -1;
    }
    .badge-dropdown-content img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .badge-dropdown-content .relative {
        position: relative;
    }
    .badge-dropdown-content .relative .checked {
        position:absolute;
        width: 20px;
        height: 20px;
        padding: 5px;
        background-color: #2699fb;
        border-radius: 50%;
        top: 40px;
        left: 31px;
    }
    .badge-dropdown-content .relative .badge-dropdown-badge {
        left: 24px;
    }
    .badge-dropdown-content .relative .badge-dropdown-desc {
        color: #3a4555;
        line-height: 20px;
        left: -5px;
        top: 4px;
        height: 54px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
    .badge-dropdown-content .relative .badge-dropdown-desc .regular {
        font-weight: 300;
        padding: 0;
    }
    #intro .badge-container .badge:hover {
        background: #f5bb3f
    }
    /* Dropdown End */
}

/* Tooltip Badge Start */
.badge-tooltip {
    position: relative;
}

.badge-tooltip .tooltiptext {
    visibility: hidden;
    background-color: white;
    color: #3a4555;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    /* margin-left: -60px; */
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px 15px;
    font-size: 14px;
    -webkit-box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
    box-shadow: 4px 4px 9px 0 rgba(38,153,251,.2);
    width: max-content;
    transform: skew(-10deg) translateX(-50%);
}

.badge-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
    background-color: #ffc64c;
    padding: 10px;
}

.badge-tooltip .relative:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
/* Tooltip Badge End */